<form class="cadastroform" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=goodzsexoficial', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<p class="botaoinput" id="botaoinput" onclick="myFunction()">Cadastrar</p>
<input class="cadastroinput" type="text"  name="email" id="cadastroinput" placeholder="Digite seu E-mail"/>
<input type="hidden" value="goodzsexoficial" name="uri"/><input type="hidden" name="loc" value="pt_BR"/><input class="cadastrosubmit" type="submit" id="cadastrosubmit" value="Confirmar" />
</form>
<script type="text/javascript">
function myFunction() {
    document.getElementById('cadastroinput').style.cssText = 'opacity:1;width:150px;transition:width 2s;';
    document.getElementById('cadastrosubmit').style.cssText = 'opacity:1;width:fit-content;transition:width 2s;';
}
  </script>
<style>
.cadastroinput{
display: inline-block;
opacity:0;
width: 0px;
}
.botaoinput{
display:inline-block;
color: #fff;
font-weight: bold;
}
.cadastrosubmit{
display: inline-block;
opacity:0;
width: 0px;
}
.cadastroform{
    border: none;
    padding: unset;
    display: inline-block;
    }
</style>
