<center style="max-width:100%;">
<amp-social-share type="email" layout="flex-item"></amp-social-share>
<amp-social-share type="facebook" layout="flex-item"></amp-social-share>
<amp-social-share type="linkedin" layout="flex-item"></amp-social-share>
<amp-social-share type="pinterest" layout="flex-item"></amp-social-share>
<amp-social-share type="gplus" layout="flex-item"></amp-social-share>
<amp-social-share type="tumblr" layout="flex-item"></amp-social-share>
<amp-social-share type="twitter" layout="flex-item"></amp-social-share>
<amp-social-share type="whatsapp" layout="flex-item"></amp-social-share>
</center>
