<center style="max-width:100%;">
<amp-social-share type="email" layout="container"></amp-social-share>
<amp-social-share type="facebook" layout="container"></amp-social-share>
<amp-social-share type="linkedin" layout="container"></amp-social-share>
<amp-social-share type="pinterest" layout="container"></amp-social-share>
<amp-social-share type="gplus" layout="container"></amp-social-share>
<amp-social-share type="tumblr" layout="container"></amp-social-share>
<amp-social-share type="twitter" layout="container"></amp-social-share>
<amp-social-share type="whatsapp" layout="container"></amp-social-share>
</center>
