<footer id="footer">
   	    <style>
		    .bannerfooter{display:block;}
		    @media only screen and (max-width: 600px) {.bannerfooter{display:none;}}
	    </style>
   <div class="bannerfooter">

<!--
The div tag below is used to insert the advertisement, the id value match with param "display" in the Javascript code
In case you use the code multiple times then be sure that every id is unique!
-->
<div id="ea_3915073_node">&nbsp;</div>

<script type="text/javascript" language="javascript" charset="utf-8">
/*
code below check and load eaCtrl, its recommended to load this with a normal javascript tag in the top of your page to speedup
if you have Eactrl installed then you dont need this part, also if you use multiple codes than only the first one need this
*/ 

if (typeof eaCtrl =="undefined"){ 
	var eaCtrlRecs=[];
	var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
	var js = document.createElement('script');
	js.setAttribute("src","//go.ero-advertising.com/loadeactrl.go?pid=90918&siteid=986816&spaceid=3915073");
	document.head.appendChild(js);
}
/*
End load eactrl 

Command eaCtrl to load ads
*/
eaCtrl.add({"display":"ea_3915073_node","sid":3915073,"plugin":"banner","traffic_type":"all","subid":""});
</script>
</div>
   <!-- <p>
      {% if site.github_username %}
      <a itemprop="github" href="https://github.com/{{ site.github_username }}" title="Github">
        <svg><use xlink:href="#icon-github"></use></svg>
      </a>
      {% endif %}
      {% if site.facebook_username %}
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
        <svg><use xlink:href="#icon-twitter"></use></svg>
      </a>
      {% endif %}
      {% if site.medium_username %}
      <a itemprop="medium" href="https://medium.com/@{{ site.medium_username }}" title="Twitter">
        <svg><use xlink:href="#icon-medium"></use></svg>
      </a>
      {% endif %}
      {% if site.instagram_username %}
      <a itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
      {% endif %}
      {% if site.linkedin_username %}
      <a itemprop="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
        <svg><use xlink:href="#icon-linkedin"></use></svg>
      </a>
      {% endif %}
    </p>-->
    <ul>
        {% for link in site.links %}
          <li class="footerli"><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li class="footerli"><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
    <p>Copyright © 2018 <span>GoodzSex</span> Todos os direitos reservados.</p>
</footer>
{% include stats.html %}
{% include footerscritpts.html %}
