<div class="footer">
	<div class="footer-item"><h4>Links Úteis</h4><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}">Pagina Inicial</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/contato/">Contato</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/livro-digital/">Livro</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/previa/">- Prévia</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/perguntas-frequentes/">- Perguntas Frequentes</a><br/>
	<br/>
	</div>
	<div class="footer-item"><!-- <h4>Inscrever-se</h4><br/>
<p>Receba novos posts por e-mail:</p>	
<form class="cadastroformfooter" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=oguiadamusculacao/wNPK', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<input class="cadastroinputfooter" type="text" name="email" id="cadastroinput" placeholder="Digite seu E-mail">
<input type="hidden" value="oguiadamusculacao/wNPK" name="uri"><input type="hidden" name="loc" value="pt_BR">
<input class="cadastrosubmit" type="submit" id="cadastrosubmit" value="Confirmar" style="width:fit-content;opacity:1;"> 
</form>	
		<br/>-->
	</div>
	<div class="footer-item" style="text-align:center;"><h4>Sobre o Autor</h4><br/>
		<amp-img src="https://i.imgur.com/KYTMFEL.png" width="192px" height="192px" style="border-radius:100%;" alt="Autor do Guia da Musculação"></amp-img>
		<p>David Menezes, Cursando Educação Física, Praticante de musculação a 5 anos.</p>
		</div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113188635-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113188635-4');
</script>
