<div class="emailmarketing">
	<center>
		<form action="https://formspree.io/{{ site.email }}" method="POST" target="_top">
		<h3 style="color:#fff;">RECEBA NOSSO E-BOOK GRATUITAMENTO NO SEU E-MAIL:</h3>
		<input class="emailmarketing-email" type="text" name="Email" placeholder="Seu e-mail">
		<input class="emailmarketing-enviar" type="submit" value="Receber">
		<a href="https://www.oguiadamusculacao.com/livro-digital/"><button class="emailmarketing-enviar" type="submit" value="Receber"></a>
		</form>	</center>
</div>
<div class="footer">
	<div class="footer-item"><h4>Links Úteis</h4><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}">Pagina Inicial</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/contato/">Contato</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/livro-digital/">Livro</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/previa/">- Prévia</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/perguntas-frequentes/">- Perguntas Frequentes</a><br/>
	<br/>
	</div>
	<div class="footer-item"><!-- <h4>Inscrever-se</h4><br/>
<p>Receba novos posts por e-mail:</p>	
<form class="cadastroformfooter" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=oguiadamusculacao/wNPK', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<input class="cadastroinputfooter" type="text" name="email" id="cadastroinput" placeholder="Digite seu E-mail">
<input type="hidden" value="oguiadamusculacao/wNPK" name="uri"><input type="hidden" name="loc" value="pt_BR">
<input class="cadastrosubmit" type="submit" id="cadastrosubmit" value="Confirmar" style="width:fit-content;opacity:1;"> 
</form>	
		<br/>-->
	</div>
	<div class="footer-item" style="text-align:center;"><h4>Sobre o Autor</h4><br/>
		<amp-img src="https://i.imgur.com/KYTMFEL.png" width="192px" height="192px" style="border-radius:100%;" alt="Autor do Guia da Musculação"></amp-img>
		<p>David Menezes, Cursando Educação Física, Praticante de musculação a 5 anos.</p>
		</div>
</div>
<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-113188635-4"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
