
<footer id="footer">
   	    <style>
		    .footer{padding:20px 150px 20px 150px;background-color:#0c0c0c;margin-bottom:20px;}
		    .footerlinks{margin:0px;}
		    .mais-vistos{display:block;text-align:left;}
		    .mais-vistos a{color:#fff;}
		    .footerlia{text-decoration:none;font-size:18px;color:#fff;}
		    @media only screen and (max-width: 600px) {.bannerfooter{display:none;}}
	    </style>
<div class="footer">
	<ul class="footerlinks">
        {% for link in site.links %}
          <li class="footerli"><a class="footerlia" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li class="footerli"><a class="footerlia" class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
	</div>
   <div class="mais-vistos">
	   <h4>Mas Vistos da Semana</h4>
	   <a href="https://www.goodzsex.com/sobrinho_comedor_metendo_forte_na_titia_casada_com_marido_corno/">- Sobrinho comedor metendo forte na titia casada com marido corno</a><br/>
	   <a href="https://www.goodzsex.com/april_fools_fuck/">- April Fools Fuck</a><br/>
	   <a href="https://www.goodzsex.com/russian_webcam_model_fucks_lucky_landlord_/">- Russian Webcam Model Fucks Lucky Landlord - Jordi El Nino Polla, Eva Berger</a><br/>
	   <a href="https://www.goodzsex.com/namorada-confusa-traindo-o-namorado-com-o-colega-de-quarto/">- Namorada confusa traindo o namorado com o colega de quarto</a><br/>
	   <a href="https://www.goodzsex.com/gostosa-traindo-com-o-treinador-de-golf/">- Gostosa traindo com o treinador de golf</a><br/>
</div>
    <p>Copyright © 2018 <span>GoodzSex</span> Todos os direitos reservados.</p>
</div>
</footer>
{% include stats.html %}
{% include footerscritpts.html %}
