<div class="emailmarketing">
	<center>
		<div id="mc_embed_signu">
			<form action="https://oguiadamusculacao.us7.list-manage.com/subscribe/post?u=59f994a3f616e571cd38ceda1&amp;id=3720c26180" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<h3 style="color:#fff;">RECEBA NOSSO E-BOOK GRATUITAMENTO NO SEU E-MAIL:</h3>
					<input type="text" value="" placeholder="Seu nome" name="FNAME" class="required emailmarketing-email" id="mce-FNAME">
					<input type="email" value="" placeholder="Seu e-mail" name="EMAIL" class="required emailmarketing-email" id="mce-EMAIL">
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<input type="text" name="b_59f994a3f616e571cd38ceda1_3720c26180" tabindex="-1" value="">
					<input type="submit" value="Receber" name="subscribe" id="mc-embedded-subscribe" class="button emailmarketing-enviar">
				</div>
			</form>
		</div>
	</center>
	
	
	
</div>
<div class="footer">
	<div class="footer-item"><h4>Links Úteis</h4><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}">Pagina Inicial</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/contato/">Contato</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/livro-digital/">Livro</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/previa/">- Prévia</a><br/>
		<p style="color:#129a00;display:inline-block;">•</p> <a href="{{ site.url }}/perguntas-frequentes/">- Perguntas Frequentes</a><br/>
	<br/>
	</div>
	<div class="footer-item"><!-- <h4>Inscrever-se</h4><br/>
<p>Receba novos posts por e-mail:</p>	
<form class="cadastroformfooter" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=oguiadamusculacao/wNPK', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<input class="cadastroinputfooter" type="text" name="email" id="cadastroinput" placeholder="Digite seu E-mail">
<input type="hidden" value="oguiadamusculacao/wNPK" name="uri"><input type="hidden" name="loc" value="pt_BR">
<input class="cadastrosubmit" type="submit" id="cadastrosubmit" value="Confirmar" style="width:fit-content;opacity:1;"> 
</form>	
		<br/>-->
	</div>
	<div class="footer-item" style="text-align:center;"><h4>Sobre o Autor</h4><br/>
		<amp-img src="https://i.imgur.com/fo9bieJ.png" width="192px" height="192px" style="border-radius:100%;" alt="Autor do Guia da Musculação"></amp-img>
		<p>David Menezes, Cursando Educação Física, Praticante de musculação a 5 anos.</p>
		</div>
</div>
<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-113188635-4"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
