<link href='{{ site.url }}/ico/120x120.png' type="image/png" rel='icon'/> 
<link href='{{ site.url }}/ico/57x57.png' type="image/png" rel='apple-touch-icon' sizes='57x57'/>
<link href='{{ site.url }}/ico/60x60.png' type="image/png" rel='apple-touch-icon' sizes='60x60'/>
<link href='{{ site.url }}/ico/72x72.png' type="image/png" rel='apple-touch-icon' sizes='72x72'/>
<link href='{{ site.url }}/ico/76x76.png' type="image/png" rel='apple-touch-icon' sizes='76x76'/>
<link href='{{ site.url }}/ico/114x114.png' type="image/png" rel='apple-touch-icon' sizes='114x114'/>
<link href='{{ site.url }}/ico/120x120.png' type="image/png" rel='apple-touch-icon' sizes='120x120'/>
<link href='{{ site.url }}/ico/144x144.png' type="image/png" rel='apple-touch-icon' sizes='144x144'/>
<link href='{{ site.url }}/ico/152x152.png' type="image/png" rel='apple-touch-icon' sizes='152x152'/>
<link href='{{ site.url }}/ico/180x180.png' type="image/png" rel='apple-touch-icon' sizes='180x180'/>
<link href='{{ site.url }}/ico/192x192.png' type="image/png" rel='icon' sizes='192x192'/>
<link href='{{ site.url }}/ico/32x32.png' type="image/png" rel='icon' sizes='32x32'/>
<link href='{{ site.url }}/ico/96x96.png' type="image/png" rel='icon' sizes='96x96'/>
<title>{{ page.title }} | Guia da Musculação</title>
<meta name="description" content="{{ page.description }}">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style amp-custom>
    body{
width:100%;
margin:0px;
font-family: Poppins, sans-serif;
color:#fff;
}
    body p{
color:#fff;
text-decoration:none;
}
.header-item{
padding:10px;
color:#fff;
text-decoration:none;
display:inline-block;
float:right;
}
.header-item:hover{
background-color:#129a00;
}
.header-item a{
color:#fff;
text-decoration:none;
}
.header-item-mobile{
padding:10px;
color:#fff;
text-decoration:none;
display:none;
float:right;
}
.header-item-mobile:hover{
background-color:#129a00;
}
.header-item-mobile a{
color:#fff;
text-decoration:none;
}
.header-titulo{
padding:10px;
color:#fff;
text-decoration:none;
display:inline-block;
float:left;
height:30px;
}
.header-titulo a{
color:#fff;
text-decoration:none;
}
.header{
background-color:#262626;
overflow:hidden;
position:fixed;
width:100%;
z-index:1;
}
.menu{
display:none;
}
.hotmart-fb{
background-color:#129a00;
border-radius:5px;
border-bottom:solid 3px #0d6d00;
color:#fff;
padding:5px;
text-decoration:none;
text-transform:uppercase;
}
.hotmart-fb:hover{
background-color:#0d5a02;
border-bottom:solid 3px #073e00;
}
.buybutton{
background-color:#129a00;
border-radius:5px;
border-bottom:solid 3px #0d6d00;
color:#fff;
padding:5px;
text-decoration:none;
text-transform:uppercase;
}
.buybutton:hover{
background-color:#0d5a02;
border-bottom:solid 3px #073e00;
}
.previabutton{
background-color:#00239a;
border-radius:5px;
border-bottom:solid 3px #00096d;
color:#fff;
padding:5px;
text-decoration:none;
text-transform:uppercase;
}
.previabutton:hover{
background-color:#001a72;
border-bottom:solid 3px #040a53;
}
.main{
width:60%;
padding:90px 20% 40px 20%;
background-color:#212121;
text-align:center;
background-image:url(https://i.imgur.com/Hf8ky1Y.png);
background-size:34%;
}
.main p{
margin:5px;
font-size:32px;
}
.main2{
width:60%;
padding:40px 20% 40px 20%;
background-color:#129a00;
}
.main2-title{
width:60%;
padding:10px 20% 10px 20%;
background-color:#129a00;
font-size:20px;
color:#fff;
text-align:center;
background-image:url(https://i.imgur.com/oCjdqfX.png);
background-size:34%;
border-bottom:solid 1px #fff;
border-top:solid 1px #fff;
}
.main2 p{
margin:5px;
font-size:20px;
}
.main2-content{
width:29%;
display:inline-block;
vertical-align:middle;
}
.main2-content2{
width:68%;
display:inline-block;
vertical-align:middle;
padding-left:2%;
}
.main3{
width:60%;
padding:40px 20% 40px 20%;
background-color:#212121;
text-align:center;
}
.main3-title{
width:60%;
padding:10px 20% 10px 20%;
background-color:#212121;
font-size:20px;
color:#fff;
text-align:center;
background-image:url(https://i.imgur.com/oCjdqfX.png);
background-size:34%;
border-bottom:solid 1px #fff;
border-top:solid 1px #fff;
}
.previa{
width:60%;
padding:40px 20% 40px 20%;
background-color:#151515;
text-align:center;
}
.blackfridaylogo{
width:140px;
float:left;
}
.vantagem{
width:33%;
display:inline-block;
text-align:center;
}
.footer{
width:60%;
padding:40px 20% 40px 20%;
background-color:#0b0b0b;
}
.footer-item{
width:33%;
display:inline-block;
color:#fff;
vertical-align:top;
}
.footer-item h4{
margin:0px;
text-align:center;
}
.footer-item a{
text-decoration:none;
color:#fff;
}
.footer-item p{
margin:0px;
}
.post-image{
max-width:100%;
}
.post-content{
width:60%;
padding:40px 20% 40px 20%;
background-color:#fff;
color:#333;
}
.post-content p{
margin:5px;
font-size:16px;
text-indent:2em;
text-align:justify;
color:#333;
}
.post-content h2{
font-size:20px;
text-align:justify;
}
.post-content h1{
text-align:justify;
}
.post-footer{
width:60%;
padding:40px 20% 40px 20%;
background-color:#e4e4e4;
color:#fff;
}
.post-footer p{
margin:5px;
font-size:16px;
text-indent:2em;
text-align:justify;
}
.post-footer h2{
font-size:20px;
text-align:justify;
}
.post-footer h1{
text-align:justify;
}
.contact-form input[type="text"], .contact-form input[type="email"]{
box-sizing:border-box;
outline:none;
display:block;
color:#333;
width:100%;
padding:7px;
margin-bottom:10px;
font-family:inherit;
font-size:1.125rem;
height:2.813rem;
border:none;
}
.contact-form textarea{
box-sizing:border-box;
outline:none;
display:block;
color:#333;
width:100%;
padding:7px;
margin-bottom:10px;
font-family:inherit;
font-size:1.125rem;
border:none;
height:12.5rem;
}
.contact-form span{
display:block;
font-size:.875rem;
color:#fff;
padding-bottom:.625rem;
}
.contact-form input[type="text"].has-error, .contact-form input[type="email"].has-error, .contact-form textarea.has-error{
border-color:#f04242;
}
.contact-form button[type="submit"] {
display:block;
padding:19px 39px 18px 39px;
color:#fff;
background:#2c2c2c;
font-size:1.125rem;
width:100%;
margin-top:3.125rem;
margin-bottom:.625rem;
cursor:pointer;
transition:all .3s;
outline:none;
border:1px solid #201f1f;
}
body h3 {
      color:#333;
}
  .relatedimg {
      width:100%;
}
  .box-body {
      width:23%;
      display:inline-block;
      padding:0.5%;
      vertical-align:top;
}
  .relatedtitle {
      color:#333;
      text-decoration:none;
}
    .emailmarketing {
        width: 60%;
        padding: 40px 20% 40px 20%;
        background-color: #008906;
    }
    .emailmarketing-email {
        box-sizing: border-box;
outline: none;
display: block;
color: #333;
width: 100%;
padding: 7px;
margin-bottom: 10px;
font-family: inherit;
font-size: 1.125rem;
height: 2.813rem;
border: none;
    }
    .emailmarketing-enviar{
        display: block;
padding: 19px 39px 18px 39px;
color: #fff;
background: #2c2c2c;
font-size: 1.125rem;
width: 100%;
margin-top: .625rem;
margin-bottom: .625rem;
cursor: pointer;
transition: all .3s;
outline: none;
border: 1px solid #201f1f;
    }
    @media only screen and (max-width: 600px){
.header-item{
display:none;
float:left;
width:100%;
}
.header-item-mobile{
float:left;
width:100%;
}
.menu{
padding:10px;
color:#fff;
text-decoration:none;
display:inline-block;
float:right;
cursor:pointer;
}
.menu:hover{
background-color:#129a00;
}
.menu a{
color:#fff;
text-decoration:none;
}
.main2-title{
width:90%;
padding:10px 5% 10px 5%;
}
.main3-title{
width:90%;
padding:10px 5% 10px 5%;
}
.blackfridaylogo{
left:10px;
}
.main{
width:90%;
padding:90px 5% 40px 5%;
}
.main2{
width:90%;
padding:40px 5% 40px 5%;
}
.main2-content{
width:100%;
text-align:center;
}
.main2-content2{
width:100%;
}
.main3{
width:90%;
padding:40px 5% 40px 5%;
}
.previa{
width:90%;
padding:40px 5% 40px 5%;
}
.vantagem{
width:100%;
}
.footer{
width:90%;
padding:40px 5% 40px 5%;
}
.footer-item{
width:100%;
}
.post-content{
width:90%;
padding:40px 5% 40px 5%;
}
.post-footer{
width:90%;
padding:40px 5% 40px 5%;
}
  .box-body {
      width:99%;
      display:inline-block;
      padding:0.5%;
      vertical-align:top;
}
    }
</style>
