<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
        <a href="{{ site.baseurl }}/">
<h1 style="display:none;">GoodzSex</h1>
<img src="{{ site.url }}/assets/img/goodzsex.png" alt="GoodzSex Logo" height="50px"/>        </a>
        {% include random.html %}
        {% include cadastro.html %}
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
