<div class="header">
	<div class="header-titulo"><img src="https://i.imgur.com/9LYrqfI.png" style="width:30px;border-radius:100%;" alt="Guia da Musculação Icone"></div>
	<div class="header-titulo"><a href="{{ site.url }}"><b>Guia da Musculação</b></a></div>
	<div class="menu" id="header-item" onclick="menufunction()">||||</div>
	<a href="{{ site.url }}/previa/"><div class="header-item">Livro</div></a>
	<a href="{{ site.url }}"><div class="header-item">Pagina Inicial</div></a>
<!-- MOBILE MENU -->
	<a href="{{ site.url }}"><div class="header-item-mobile" id="header-item1" >Pagina Inicial</div></a>
	<a href="{{ site.url }}/previa/"><div class="header-item-mobile" id="header-item2" >Livro</div></a>
	<script>
		function menufunction(){
			if ($('#header-item1').css('display')==('block')){$('#header-item1').css('display', 'none');}
			else if ($('#header-item1').css('display')==('none')){$('#header-item1').css('display', 'block');}
			if ($('#header-item2').css('display')==('block')){$('#header-item2').css('display', 'none');}
			else if ($('#header-item2').css('display')==('none')){$('#header-item2').css('display', 'block');}
		}
	</script>
</div>
<div class="main">
<img src="https://i.imgur.com/9LYrqfI.png" style="width:200px;border-radius:100%;" alt="Guia da Musculação Icone"/>
<h1><b>Guia da Musculação</b></h1>
</div>
