<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br">

    <title>{% if page.title %}{{ page.title }} - {{ site.username }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.twitter_username}}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
    <meta property="twitter:image:src" content="https://i.imgur.com/k16zzk7.png">


    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="https://i.imgur.com/k16zzk7.png">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="image" content="https://i.imgur.com/k16zzk7.png"/>

    <!-- Favicon -->
    <link href='https://i.imgur.com/1Oebajz.png' rel='icon'/>
    <link href='https://i.imgur.com/jNIxgj0.png' rel='apple-touch-icon' sizes='57x57'/>
    <link href='https://i.imgur.com/F3Y9HXK.png' rel='apple-touch-icon' sizes='60x60'/>
    <link href='https://i.imgur.com/ybMDDOY.png' rel='apple-touch-icon' sizes='72x72'/>
    <link href='https://i.imgur.com/0HzkxYv.png' rel='apple-touch-icon' sizes='76x76'/>
    <link href='https://i.imgur.com/Ogh3INL.png' rel='apple-touch-icon' sizes='114x114'/>
    <link href='https://i.imgur.com/dd24xB1.png' rel='apple-touch-icon' sizes='120x120'/>
    <link href='https://i.imgur.com/fi0q9m3.png' rel='apple-touch-icon' sizes='144x144'/>
    <link href='https://i.imgur.com/gqbKYqj.png' rel='apple-touch-icon' sizes='152x152'/>
    <link href='https://i.imgur.com/VbRzecW.png' rel='apple-touch-icon' sizes='180x180'/>
    <link href='https://i.imgur.com/1Oebajz.png' rel='icon' sizes='192x192'/>
    <link href='https://i.imgur.com/t4gGal4.png' rel='icon' sizes='32x32'/>
    <link href='https://i.imgur.com/BCXo3M1.png' rel='icon' sizes='96x96'/>
    
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/assets/img/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-touch-icon-152x152.png" />

    <!-- Windows 8 Tile Icons -->
    <meta name="application-name" content="{{ site.username }} Blog">
    <meta name="msapplication-TileColor" content="#0562DC">
    <meta name="msapplication-square70x70logo" content="smalltile.png" />
    <meta name="msapplication-square150x150logo" content="mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="widetile.png" />
    <meta name="msapplication-square310x310logo" content="largetile.png" />
    
    <!-- Android Lolipop Theme Color -->
    <meta name="theme-color" content="{{ page.color }}">

    <!-- Fonts -->

<style>.footerli{display:inline-block;padding:0px 10px 0px 10px;}.box-item{width:25%;padding-left:1%;padding-right:1%;margin:0px;}.titulo{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#fff;text-decoration:none;}.preload{width:100%;}.posttime{float:right;position:relative;display:inline-block;background:#141414;color:#fff;font-weight:700;padding:5px;margin-top:-2.187rem;line-height:unset;}.pagenavi-page{border:solid 1px #141414;background-color:#292929;text-decoration:none;color:#fff;padding:6px;border-radius:5px;}.pagenavi-page:hover{background-color:#0e0e0e;}.current-page{border:solid 1px #141414;background-color:#0e0e0e;text-decoration:none;color:#fff;padding:6px;border-radius:5px;}</style> 
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
