<aside id="sidebar">
    <nav id="navigation">
      <h2>Menu</h2>
      <ul>
          <li>{{ include cadastro.html }}</li>
          <script type="text/javascript">
    var randomIndexUsed = [];
    var counter = 0;
    var numberOfPosts = 1;
    while (counter < numberOfPosts)
    {
        var randomIndex;
        var postHREF;
        randomIndex = Math.floor(Math.random() * postsHREF.length);
        if (randomIndexUsed.indexOf(randomIndex) == "-1")
        {
            postHREF = postsHREF[randomIndex];
            if (counter == (numberOfPosts - 1))
            {
                document.write('<li><a href="{{ site.url }}' + postHREF + '">Aléatorio</a></li>');
            }
            else
            {
                document.write('<li><a href="{{ site.url }}' + postHREF + '">Aléatorio</a></li>');
            }
            randomIndexUsed.push(randomIndex);
            counter++;
        }
    }
</script>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
      </ul>
    </nav>
</aside>
