<style>
  h3 {color:#333;}
  .relatedimg {width:100%}
  .box-body {width:23%;display:inline-block;padding:0.5%;vertical-align:top;}
  .relatedtitle {color:#333;text-decoration:none;}
</style>
<center><h3>Postagens Relacionadas</h3></center>
<div class="home" style="text-align:center;">
<div id="grid" class="row flex-grid">
{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
        <div class="box-body">
            <a href="{{ post.url | prepend: site.url }}"><amp-img class="relatedimg" src="{{ post.featuredimage }}" alt="{{ post.descricao }}" width="350px" height="239px" layout="responsive"></amp-img></a>
            <div class="box-info"><a class="relatedtitle" href="{{ post.url | prepend: site.url }}"><h3 style="text-align:center;margin:0px;">{{ post.title }}<h3></a></div>
        </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</div>	
</div> 
