<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/BlogPosting">
<head>
{% include description-post.html %}
{% include head.html %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
	.descricao-post{width:100%;background-color:#2f2f2f;color:#fff;margin-bottom:20px;padding:10px;}
</style>
</head>
<body class="main-page has-push-menu">
{% include minutes-to-read.html %}
{% include svg-icons.html %}
{% include header.html %}
	<section class="content">
		<main class="home" style="text-align:center;">
			<article role="article" id="post" class="post-content">
				<h1 class="post-title" itemprop="name">{{ page.title }}</h1>
					<p itemprop="post-info" class="post-info">
					{% if page.date %}
						<svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
						<time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">{% include date.html date=page.date %}</time>
					{% endif %}
					<svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
					<span><script>
function secondsToHms(d){d=Number(d);var h=Math.floor(d / 3600);var m=Math.floor(d % 3600 / 60);var s=Math.floor(d % 3600 % 60);return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);}
document.write(secondsToHms({{ page.duracao }}));
					</script></span>
					</p>
					<div class="tags">
                    {% for pornstar in page.pornstars %}
                    <a id="pornstartag" class="atag" style="background-color:#ff0a0a;color:#fff;text-transform:capitalize;" href="{{ site.url}}/pornstar/{{pornstar | slugify }}">{{ pornstar }} <span style="color:black;background-color:#fffefe;border:solid 0.5px #404040;padding:1px;font-size:.7rem;">{{ site.posts | where_exp: 'post', 'post.pornstars contains page.pornstars' | size }}</span></a>
                    {% endfor %}
{% for tag in page.tags %}
                    <a id="tag" class="atag" href="{{ site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                    {% endfor %}
                   
<script>$(document).ready(function(){var str=document.getElementById("pornstartag").innerHTML;var res=str.replace("-", " ");document.getElementById("pornstartag").innerHTML = res;});</script>
<script>$(document).ready(function(){var str=document.getElementById("tag").innerHTML;var res=str.replace("-", " ");document.getElementById("tag").innerHTML = res;});</script>
                    
                    </div>
                {% if page.embed %}
<div class="video-corpo">
<div class="anunciosuperiormobile"><script type="text/javascript">
var ad_idzone = "3129632",
	 ad_width = "300",
	 ad_height = "100";
</script><script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script><noscript><a href="https://main.exosrv.com/img-click.php?idzone=3129632" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3129632&output=img&type=300x100" width="300" height="100"></a></noscript></div>	
<div class="anunciosuperior"><script type="text/javascript">
var ad_idzone = "3129628",
	 ad_width = "728",
	 ad_height = "90";
</script><script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script><noscript><a href="https://main.exosrv.com/img-click.php?idzone=3129628" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3129628&output=img&type=728x90" width="728" height="90"></a></noscript></div>
<iframe src="{{ page.embed }}" sandbox="allow-same-origin allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-presentation allow-scripts allow-top-navigation" allowfullscreen="allowfullscreen" frameborder="0" scrolling="no"></iframe>
	<div class="descricao-post">{{ page.descricao }}</div>
	<div style="text-align:right;display:inline-block;"><a class="videoreport" href="{{ site.url }}/deletado/?q={{ page.url }}">Deletado?</a></div>
	<div style="text-align:right;display:inline-block;"><a class="videoreport" href="{{ page.video }}#_tabReport">Denunciar</a></div>
	<img src="{{ post.image }}" width="1px" height="1px"/>
</div>
		    <style>
			    .videoreport{color:#fff;background-color:#505050;font-size:.875rem;border:1px solid #141414;border-radius:3px;padding:.625rem;}
			    .videoreport:hover{background-color:#ec0000;}
		    </style>
<!-- Anuncio -->
<div class="anuncio-corpo">
	<div class="anuncio">
		<script type="text/javascript">
			var ad_idzone = "3121322",
	 		ad_width = "300",
	 		ad_height = "250";
		</script><script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
		<noscript><a href="https://main.exosrv.com/img-click.php?idzone=3121322" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3121322&output=img&type=300x250" width="300" height="250"></a></noscript>
		<br/>
	</div>
	<div class="anuncio">
		<script type="text/javascript">
			var ad_idzone = "3121494",
	 		ad_width = "300",
			ad_height = "250";
		</script>
		<script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
		<noscript><a href="https://main.exosrv.com/img-click.php?idzone=3121494" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3121494&output=img&type=300x250" width="300" height="250"></a></noscript>		
	</div>	
<div class="anuncio">
<script type="text/javascript">
var ad_idzone = "3129638",
	 ad_width = "300",
	 ad_height = "250";
</script>
<script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
<noscript><a href="https://main.exosrv.com/img-click.php?idzone=3129638" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3129638&output=img&type=300x250" width="300" height="250"></a></noscript>
	</div>	
	<div class="anunciomobile">
		<script type="text/javascript">
			var ad_idzone = "3128016",
	 		ad_width = "300",
	 		ad_height = "250";
		</script>
		<script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
		<noscript><a href="https://main.exosrv.com/img-click.php?idzone=3128016" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3128016&output=img&type=300x250" width="300" height="250"></a></noscript>
	</div>
</div>
<style>
.post-content iframe{width:100%;height:470px;}.videoplayerporndiv{width:100%;height:513px;position:absolute;}.videoplayerpornhelp{margin:auto;}.video-corpo{width:69%;display:inline-block;vertical-align:top;}.anuncio-corpo{width:28%;display:inline-block;vertical-align:top;}.anuncio{display:block;height:250px;}.anunciomobile{display:none;height:250px;}.post-title{color:#fff;}.atag{background-color:#292929;color:#fff;}.anunciosuperior{height:90px;display:block}.anunciosuperiormobile{display:none;}
@media only screen and (max-width: 600px) {main{margin:0px;}.video-corpo{width:100%;display:block;}.anuncio-corpo{width:100%;display:block;}.post-content iframe{width:100%;height:240px;}.videoplayerporndiv{width:100%;height:360px;position:absolute;}.anuncio{display:none;height:250px;}.anunciomobile{display:block;height:250px;}.anunciosuperior{display:none;}.anunciosuperiormobile{display:block;height:100px;}.post-title{font-size:18px;line-height:normal;margin:0;}.atag{line-height:normal;padding:6px;}}

</style>
<!-- Anuncio -->	
{% endif %}
</article>
            {% include videos-relacionados.html %}
            {% include share.html %}
            {% include footer.html %}
            </main>
            </section>
    </body>
</html>
