<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    <head>
    {% include description-post.html %}
    {% include head.html %}
    </head>
    <body class="main-page has-push-menu">

        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include header.html %}
        <section class="content">
        <main class="home">
            <article role="article" id="post" class="post-content" itemprop="articleBody" style="display:inline-block;width:fit-contente;">
                <p itemprop="post-info" class="post-info">
                    {% if page.date %}
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span><script>
function secondsToHms(d) {
    d = Number(d);
    var h = Math.floor(d / 3600);
    var m = Math.floor(d % 3600 / 60);
    var s = Math.floor(d % 3600 % 60);
    return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);
}
document.write(secondsToHms({{ page.duracao }}));
</script></span>
                </p>
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <div class="tags">
                    {% for pornstar in page.pornstars %}
                    <a id="pornstartag" style="background-color:#ff0a0a;color:#fff;" href="{{ site.url}}/pornstar/{{pornstar | slugify }}">{{ pornstar }} <span style="color:black;background-color:#fffefe;border:solid 0.5px #404040;padding:1px;font-size:.7rem;">{{ site.posts | where_exp: 'post', 'post.pornstars contains page.pornstars' | size }}</span></a>
                    {% endfor %}
{% for tag in page.tags %}
                    <a class="atag" href="{{ site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                    {% endfor %}
                   
                    <script>
                        function myPornstarFunction() {
    var str = document.getElementById("pornstartag").innerHTML; 
    var res = str.replace("-", " ");
    document.getElementById("pornstartag").innerHTML = res;
}
                    </script>
                    
                    </div>
                {% if page.embed %}
<!--                <div class="videoplayerporndiv"></div>-->
<iframe onload="myPornstarFunction()" src="{{ page.embed }}" sandbox="allow-same-origin allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-presentation allow-scripts allow-top-navigation" allowfullscreen="allowfullscreen" frameborder="0" scrolling="no"></iframe>                {{ content }}
<!--<img class="videoplayerpornhelp" src="https://www.goodzsex.com/help.png"/>-->
                <style>.post-content iframe{width:100%;height:550px;}
                    .videoplayerporndiv{width:100%;height:513px;position:absolute;}
                    .videoplayerpornhelp{margin:auto;}
                    @media only screen and (max-width: 600px) {
                        .post-content iframe{width:100%;height:400px;}
                        .videoplayerporndiv{width:100%;height:360px;position:absolute;}
                    }
                    .post-title{color:#fff;}
                    .atag{background-color:#292929;color:#fff;}
        </style>
                {% endif %}
            </article>
            <div style="width:350px;display:inline-block"></div>



            {% include share.html %}
            {% include comments.html %}
            {% include footer.html %}
            </main>
            </section>
    </body>
</html>
