<head>
      <script type="text/javascript">
    var postsHREF = [{% for post in site.posts %}{% if post.tag contains 'anal' %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}];
    var postsTitle = [{% for post in site.posts %}{% if post.tag contains 'anal' %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}];	
	var postsMiniatura = [{% for post in site.tags.[page.tag] %}{% if post.thumbnail %}"{{ post.thumbnail }}"{% endif %}{% unless forloop.last %},{% endunless %}{% endfor %}];
	var postsNumero = ["{{ site.tags.[page.tag] | size }}"];
	var postsDescricao = [{% for post in site.posts %}{% if post.tag contains 'anal' %}"{{ post.excerpt | remove: '<p>' | remove: '</p>' | remove: '
' }}"{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}];
</script>
</head>
<body>
<script type="text/javascript">
    var randomIndexUsed = [];
    var counter = 0;
    var numberOfPosts = 5;
    while (counter < numberOfPosts)
    {
        var randomIndex;
        var postHREF;
        var postTitle;
        var postMiniatura;
        var postDescricao;
        var postEstrela;
        randomIndex = Math.floor(Math.random() * postsHREF.length);
        if (randomIndexUsed.indexOf(randomIndex) == "-1")
        {
            postHREF = postsHREF[randomIndex];
            postTitle = postsTitle[randomIndex];
            postMiniatura = postsMiniatura[randomIndex];
            postDescricao = postsDescricao[randomIndex];
            postEstrela = postsEstrela[randomIndex];
                document.write('<li class="postagem"><div class="post-teaser1"><div class="post-teaser"><a class="post-link" href="' + postHREF + '"><img class="postthumb" alt="' + postTitle + ' Logo" title="' + postTitle + ' Logo" src="/' + postMiniatura + '"/></a><span class="tituloedescricao"><header><span class="titulopost"><a class="post-link" href="' + postHREF + '">' + postTitle + '</a></span></h1></header><div class="excerpt">' + postDescricao + '</div></span><div class="caixainfo"><div class="caixainfo1"><div class="infobuton1"><div class="infobuton"><a class="infobutona" href="' + postHREF + '">Informações</a></div></div></div><div class="caixainfo2"></div></div><br/></div></div></li>');
            randomIndexUsed.push(randomIndex);
            counter++;
        }
    }
</script>
</body>
